<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @laptop.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @laptop.price %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @laptop.colour %>
</p>

<%= link_to 'Edit', edit_laptop_path(@laptop) %> |
<%= link_to 'Back', laptops_path %>
